{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 150,
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,

  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf"
      }
    ]
  }
}
